@import "tailwindcss";

@theme {
  --color-brand-primary: #1fb1c1;
  --color-brand-secondary: #5fb1cc;
  --color-brand-accent: #168a96;
  --color-brand-light: #f0fbfc;
  --color-brand-dark: #000000;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fbfc;
  -webkit-tap-highlight-color: transparent;
}

.brand-gradient {
  background: linear-gradient(135deg, #1fb1c1 0%, #5fb1cc 100%);
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
